*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body{
    font-family: 'Mf-Hug-Me-Tight';  
    width: 100vw;
    height: 100vh;
    background-color: #87CEE4;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    color: white;
    -webkit-user-select: none;
}

/* HEADER */

header{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3vw;
    padding-right: 10vw;
    word-spacing: 5px;
    z-index: 1;
}

.logo{
    height: 85px;
    width: 85px;
    filter: invert(1);
    pointer-events: none;
}

.links a{
    color: white;
    gap: 100px;
    transition: all 0.5s;
}
.links a:hover
{
    color: #8d6524f6;
}
.links > ul
{
    display: flex;
    /* Dar espaço entre as palavras */
    gap: 120px;
    /* Tirar as bolinhas da lista */
    list-style-type: none;
}


/* Main */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    margin: 70px 45px;
    margin-right: 720px;
    z-index: 2;
}
main h3{   
    font-size: 30px;
   
}
main h1{
    padding-left: 30px;
    font-size: 70px;
    /* Espaçamento entre letras */
    letter-spacing: 5px;
    /* Espaçamento entre palavras */
    word-spacing: 5px;
}
main p{
    font-size: 17px;
    /* Largura máxima da "caixa de texto" */
    max-width: 600px;
    /* espaçamento do texto */
    line-height: 2;
    /*texto em maiuscula */
    text-transform: uppercase;
    padding-top: 40px;
    padding-right: 90px;
}

main a
{
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 50px;
    background-color: #EBC0DB;
    margin-top: 25px;
    /* Adiciona borda arredondada */
    border-radius: 70px;
    /* text(box)-shadow: direita esquerda espumar cor; */
    transition: all 500ms;
    box-shadow: 2px 5px 5px #00000055;
    transition: transform 1s;
}
main a:hover
{
    border: solid 2px #EBC0DB;
    background-color: white;
    color: #EBC0DB;
    transform: scale(1.2);
}

/* Footer */
footer
{
    font-size: 25px;
    text-align: end;
    padding-bottom: 25px;
    z-index: 1;
}
footer a{
    color: white;
    padding-right: 170px;
}

.seta{
    color: white;
    font-size: 40px;
    padding-bottom: 20px;
    position: absolute;
    animation: position 1s linear infinite;
}

@keyframes position

{
    /* Quando estiver na posição de 0% */
    0%
    {
        bottom: 0;
        left: calc(95% - 100px);
    }
    100%
    {
        bottom: 0;
        left: calc(100% - 100px);
    }
}


/* GERAL */
span{
    transition: transform 0.5s;
}

span:hover{
    transform: rotateZ(180deg);
}

@font-face {
    font-family: 'Mf-Hug-Me-Tight';
    src:url('Mf-Hug-Me-Tight.ttf.woff') format('woff'),
    url('Mf-Hug-Me-Tight.ttf.svg#Mf-Hug-Me-Tight') format('svg'),
    url('Mf-Hug-Me-Tight.ttf.eot'),
    url('Mf-Hug-Me-Tight.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}


/* FUNDO */
.container{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 3fr 2fr;
    position: absolute;
    grid-auto-rows: minmax(100px,1fr); 
}
.azul{
    background-color: #87CEE4;
    position: relative;
}
.laranja{
    background-color: #EBC890;
}
.rosa{
    background-color: #EBC0DB;
    grid-column: 2;
}


/* DONUTS */
.dazul{
    position: absolute;
    right: -100px;
    top: 170px;
    z-index: 2;
    width: 400px;
    height: 400px;
    pointer-events: none;
}
.drosa{
    position: absolute;
    right: 230px;
    bottom: 60px;
    z-index: 1;
    width: 400px;
    height: 400px;
    pointer-events: none;
}
.dlaranja{
    position: absolute;
    right: 200px;
    top: 90px;
    z-index: 0;
    width: 400px;
    height: 400px;
    pointer-events: none;
}


/* ENFEITES */
.linhaBotao1{
    position: absolute;
    width: 30px;
    height: 5px;
    border-radius: 5px;
    background-color: white;
    left: 460px;
    bottom: 200px;
    transform: rotate(135deg);
}
.linhaBotao2{
    position: absolute;
    width: 27px;
    height: 5px;
    border-radius: 5px;
    background-color: white;
    left: 465px;
    bottom: 185px;
    transform: rotate(142deg);
}
.linhaBotao3{
    position: absolute;
    width: 25px;
    height: 5px;
    border-radius: 5px;
    background-color: white;
    left: 449px;
    bottom: 205px;
    transform: rotate(120deg);
}
.linhaDonutLaranja1{
    width: 95px;
    height: 10px;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    top: 180px;
    right: 120px;
    transform: rotate(155deg);
    font-size: 100px;
}
.linhaDonutLaranja2{
    width: 70px;
    height: 10px;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    top: 220px;
    right: 130px;
    transform: rotate(165deg);
    font-size: 100px;
}
.linhaDonutAzul1{
    width: 60px;
    height: 10px;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    bottom: 220px;
    right: 800px;
    transform: rotate(150deg);
    font-size: 100px;
}
.linhaDonutAzul2{
    width: 90px;
    height: 10px;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    bottom: 190px;
    right: 770px;
    transform: rotate(140deg);
    font-size: 100px;
}
.linhaDonutRosa1{
    width: 110px;
    height: 10px;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    bottom: 120px;
    right: 150px;
    transform: rotate(205deg);
    font-size: 100px;
}
.linhaDonutRosa2{
    width: 80px;
    height: 10px;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    bottom: 170px;
    right: 160px;
    transform: rotate(195deg);
    font-size: 100px;
}
.linhaDonutRosa3{
    width: 70px;
    height: 10px;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    bottom: 86px;
    right: 210px;
    transform: rotate(220deg);
    font-size: 100px;
}
.tresPontosBotao{
    position: absolute;
    transform: rotate(90deg);
    left: 300px;
    bottom: 110px;
    font-size: 40px
}
.tresPontosHeader{
    position: absolute;
    top: 40px;
    transform: rotate(90deg);
    right: 710px;
    font-size: 40px
}
.tresPontosSeparadoLaranja{
    position: absolute;
    top: 310px;
    transform: rotate(80deg);
    right: 150px;
    font-size: 60px;

}
.tresPontosSeparadoRosa{
    position: absolute;
    bottom: 150px;
    transform: rotate(90deg);
    right: 580px;
    font-size: 60px;
}